.btn-1 {
  display: inline-block;
  padding: 13px 30px;
  background-color: #f55442;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
}
.btn-1:hover {
  background-color: #e56820;
}

.btn-2 {
  display: inline-block;
  padding: 13px 45px;
  font-size: 18px;
  background-color: #e56820;
  color: #fff;
  border-radius: 25px;
  border: 0;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #f55442;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Bebas Neue", cursive;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 2px solid greenyellow;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  color: #424242;
  margin-bottom: 35px;
}

h2 {
  font-size: 80px;
  line-height: 90px;
  color: #3f3f3f;
  margin-bottom: 25px;
}

.header {
  background: linear-gradient(180deg, rgb(251, 205, 49) 0%, rgb(249, 196, 40) 51%, rgb(246, 179, 32) 100%);
  min-height: 70vh;
  display: flex;
  align-items: center;
}
.header .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu .logo img {
  width: 40px;
}
.header .menu #menu {
  display: none;
}
.header .menu label {
  cursor: pointer;
  display: none;
}
.header .menu label .menu-icono {
  width: 25px;
}
.header .menu .navbar ul li {
  position: relative;
  float: left;
}
.header .menu .navbar ul li a {
  font-size: 18px;
  padding: 48px;
  color: #3f3f3f;
  display: block;
  font-weight: bold;
}
.header .menu .navbar ul li a:hover {
  color: #e06927;
}
.header .menu .socials img {
  width: 30px;
  margin-right: 15px;
}
.header .header-content {
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.header .header-content .header-text {
  width: 50%;
  padding-right: 100px;
}
.header .header-content .header-text h1 {
  font-size: 140px;
  line-height: 150px;
  color: #fff;
  margin-bottom: 25px;
}
.header .header-content .heder-img {
  width: 50%;
  text-align: center;
}
.header .header-content .heder-img img {
  width: 550px;
}

.about {
  padding: 100px 0;
}
.about .about-content {
  display: flex;
  position: relative;
}
.about .about-content .ab1 {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  rotate: 220deg;
}
.about .about-content .ab2 {
  position: absolute;
  width: 50px;
  left: 750px;
  top: 450px;
  rotate: 380deg;
}
.about .about-content .ab3 {
  position: absolute;
  width: 150px;
  right: 0;
}
.about .about-img {
  width: 50%;
  text-align: center;
}
.about .about-img img {
  width: 350px;
}
.about .about-txt {
  width: 50%;
}

.information {
  padding: 100px 400px 400px 400px;
  text-align: center;
  background-color: #fbfbfb;
}
.information .information-content {
  position: relative;
}
.information .information-content .in1 {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  rotate: 220deg;
}
.information .information-content .in2 {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
}
.information .information-content .in3 {
  position: absolute;
  width: 250px;
  left: 0;
  top: 230px;
  rotate: 220deg;
}

.contact {
  border: 2px solid red;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-table {
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 700px;
  margin-top: -400px;
}
.contact .contact-table span {
  font-size: 40px;
  color: #aa7d5e;
}
.contact .contact-table h3 {
  font-size: 60px;
  color: #3f3f3f;
  margin-bottom: 25px;
}
.contact .contact-table .ingredients {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.contact .contact-table .ingredients td, .contact .contact-table .ingredients th {
  border: 1px solid rgba(221, 221, 221, 0.8666666667);
  padding: 8px;
}
.contact .contact-table .ingredients tr:nth-child(even) {
  background-color: #f2f2f2;
}
.contact .contact-table .ingredients tr:hover {
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.contact .contact-table .ingredients th {
  padding: 12px 0;
}
.contact .form-content {
  padding: 100px 0 70px 0;
  text-align: center;
}
.contact .form-content h2 {
  font-size: 50px;
  color: #3f3f3f;
  margin-bottom: 25px;
}
.contact .form-content form {
  display: flex;
}
.contact .form-content form .campo {
  padding: 17px 35px;
  background-color: #f7f7f7;
  border-radius: 25px;
  margin-right: 15px;
  border: 1px solid #e8e8e8;
  outline: none;
  color: #3f3f3f;
}
.contact .form-content form .campo::placeholder {
  color: #a3a3a3;
}

.footer {
  border-top: 2px solid #e8e8e8;
  padding: 50px 0 0 0;
}
.footer .footer-links {
  border: 3px solid greenyellow;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.footer .footer-links .link-img {
  text-align: center;
}
.footer .footer-links .link-img img {
  width: 70px;
  margin-bottom: 10px;
}
.footer .footer-links .link-img .socials-2 a img {
  width: 30px;
  margin: 10px;
}
.footer .footer-links .link h3 {
  font-size: 22px;
  color: #3f3f3f;
  margin-bottom: 15px;
}
.footer .footer-links .link a {
  font-size: 18px;
  display: block;
  color: #3f3f3f;
  margin-bottom: 20px;
}
.footer .footer-links .link a:hover {
  color: #e06927;
}
.footer .footer-copy {
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}
.footer .footer-copy p {
  color: #7c7c7c;
  font-size: 16px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
