.btn-1 {
    display: inline-block;
    padding: 13px 30px;
    background-color: #f55442;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    &:hover {
        background-color: #e56820;
    }
}

.btn-2 {
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #e56820;
    color: #fff;
    border-radius: 25px;
    border: 0;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    &:hover {
        background-color: #f55442;
    }
}